:root {
  font-family: monospace;
  --app-bg-color: tomato;
  --app-text-color: white;
  --form-weight: 600;
}


*, *::before, *::after {
  box-sizing: border-box;
}

.book-shelf {
  display: grid;
  grid-auto-rows: 1fr;
  gap: 10px;
}

.book {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  border-radius: 3px;
  padding: 1rem;
  background-color: var(--app-bg-color);
  color: var(--app-text-color);
}

.new-book-modal {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  display: grid;
  width: 200px;
  background-color: var(--app-bg-color);
  color: var(--app-text-color);
  font-weight: var(--form-weight);
  border-radius: 3px;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.3);
}

.new-book-modal legend {
  font-size: 1.5rem;
}

.new-book-modal ul {
  list-style-type: none;
  padding: 0;
}

form > * {
  margin: .5rem;
}

.card-item {
  margin: .8rem 0;
}

.card-item * {
  margin: .3rem 0;
}

.new-book-modal button, .new-book-modal input {
  border: none;
  border-radius: 3px;
  padding: .5rem;
}

.new-book-modal button {
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: var(--form-weight);
}